@if (hasActiveFilters) {
  <div class="chips-container">
    <goab-icon
      type="filter-lines"
      size="small"
      fillColor="var(--goa-color-text-secondary)"
      mr="2xs"
    />
    @if (entityFilter !== "all") {
      <goab-filter-chip
        [content]="getEntityLabel()"
        (onClick)="entityClear.emit()"
      />
    }
    @if (statusFilter !== "all") {
      <goab-filter-chip
        [content]="statusFilter"
        (onClick)="statusClear.emit()"
      />
    }
    @for (chip of searchChips; track chip) {
      <goab-filter-chip [content]="chip" (onClick)="removeChip.emit(chip)" />
    }
    <a href="#" class="clear-all-link" (click)="onClearAll($event)"
      >Clear all</a
    >
  </div>
}
