<!-- Name Section -->
<goab-text size="heading-xs" mb="s" mt="l" color="secondary">
  Name
</goab-text>

    <goab-divider mb="xl" />

    <div class="case-detail_form_double">
      <goab-form-item label="First name" mb="l">
        <goab-input
          name="firstName"
          [value]="localFormData.firstName"
          size="compact"
          (onChange)="handleInputChange('firstName', $event.value)"
        />
      </goab-form-item>

      <goab-form-item label="Middle name" mb="l">
        <goab-input
          name="middleName"
          [value]="localFormData.middleName"
          size="compact"
          (onChange)="handleInputChange('middleName', $event.value)"
        />
      </goab-form-item>
    </div>

    <goab-form-item label="Last name" mb="l">
      <goab-input
        name="lastName"
        [value]="localFormData.lastName"
        size="compact"
        (onChange)="handleInputChange('lastName', $event.value)"
      />
    </goab-form-item>

<!-- Identifiers Section -->
<goab-text size="heading-xs" mb="s" mt="3xl" color="secondary">
      Identifiers
    </goab-text>
    <goab-divider mb="xl" />

    <goab-form-item label="Last name on birth certificate" mb="l">
      <goab-input
        name="lastNameOnBirthCertificate"
        [value]="localFormData.lastNameOnBirthCertificate"
        size="compact"
        (onChange)="
          handleInputChange('lastNameOnBirthCertificate', $event.value)
        "
      />
    </goab-form-item>

    <goab-form-item label="Social Insurance Number (SIN)">
      <div class="case-detail_form_double">
        <goab-input
          name="sin"
          [value]="localFormData.sin"
          size="compact"
          mb="l"
          (onChange)="handleInputChange('sin', $event.value)"
        />
        <goab-checkbox
          mb="l"
          name="verification"
          text="Verified"
          (onChange)="handleInputChange('verification', $event.value ?? false)"
        />
      </div>
    </goab-form-item>

    <div class="case-detail_form_double">
      <goab-form-item label="LISA file number (optional)" mb="l">
        <goab-input
          name="lisaFileNumber"
          [value]="localFormData.lisaFileNumber"
          size="compact"
          (onChange)="handleInputChange('lisaFileNumber', $event.value)"
        />
      </goab-form-item>

      <goab-form-item label="HS ID (Mobius ID)" mb="l">
        <div class="primary-form__copy-field">
          <goab-text mb="none" mt="none">
            {{ localFormData.hsId }}
          </goab-text>
          <goab-tooltip [content]="getCopyTooltip('hsId')">
            <goab-icon-button
              icon="copy"
              ariaLabel="Copy HS ID"
              variant="dark"
              size="small"
              (onClick)="handleCopy(localFormData.hsId, 'hsId')"
            />
          </goab-tooltip>
        </div>
      </goab-form-item>
    </div>

    <goab-form-item label="PID" mb="l">
      <goab-input
        name="pid"
        [value]="localFormData.pid"
        size="compact"
        (onChange)="handleInputChange('pid', $event.value)"
      />
    </goab-form-item>
