<div class="cases-toolbar-row">
  <div class="cases-toolbar-tabs">
    <goab-tabs
      [initialTab]="initialTab"
      (onChange)="onTabChange($event)"
      variant="segmented"
    >
      <goab-tab heading="All" slug="all" />
      <goab-tab slug="unassigned" [heading]="unassignedHeading">
        <ng-template #unassignedHeading>
          Unassigned
          <goab-badge
            type="default"
            [content]="'' + unassignedCount"
            emphasis="subtle"
          />
        </ng-template>
      </goab-tab>
      <goab-tab slug="assigned-to-me" [heading]="assignedHeading">
        <ng-template #assignedHeading>
          Assigned to me
          <goab-badge
            type="information"
            [content]="'' + myCasesCount"
            emphasis="subtle"
          />
        </ng-template>
      </goab-tab>
      <goab-tab slug="in-progress" [heading]="inProgressHeading">
        <ng-template #inProgressHeading>
          In progress
          <goab-badge
            type="important"
            [content]="'' + inProgressCount"
            emphasis="subtle"
          />
        </ng-template>
      </goab-tab>
      <goab-tab heading="Complete" slug="complete" />
    </goab-tabs>
    <div class="cases-toolbar-tabs__spacer" aria-hidden="true"></div>
  </div>
  <div class="cases-search-row">
    <div class="cases-search-group">
      <goab-form-item id="filterInput" [error]="inputError">
        <goab-input
          name="filterInput"
          [value]="inputValue"
          leadingIcon="search"
          width="100%"
          size="compact"
          placeholder="Search..."
          (onChange)="onInputChange($event)"
          (onKeyPress)="onInputKeyPress($event)"
        />
      </goab-form-item>
    </div>
    <div class="cases-actions-group">
      <goab-menu-button
        size="compact"
        type="tertiary"
        [leadingIcon]="sortLeadingIcon"
        [text]="sortButtonText"
        (onAction)="onSortAction($event)"
      >
        @for (entry of sortFieldEntries; track entry[0]) {
          <goab-menu-action
            [text]="getSortMenuText(entry[0], entry[1])"
            [action]="'sort-' + entry[0]"
            [icon]="getSortIcon(entry[0])"
          />
        }
        @if (sortConfig.primary) {
          <goab-menu-action text="Clear sort" action="clear-sort" />
        }
      </goab-menu-button>
      @if (isCompactToolbar) {
        <goab-icon-button
          icon="filter-lines"
          size="medium"
          variant="dark"
          ariaLabel="Filter"
          (onClick)="onFilterOpen()"
        />
      } @else {
        <goab-button
          type="tertiary"
          leadingIcon="filter-lines"
          size="compact"
          (onClick)="onFilterOpen()"
        >
          Filter
        </goab-button>
      }
      <app-display-settings
        [settings]="viewSettings"
        (settingsChange)="onSettingsChange($event)"
        [defaultLayout]="defaultLayout"
        [isMobile]="isMobile"
        [isCompact]="isCompactToolbar"
      />
    </div>
  </div>
</div>
